In [1]:
scores = [70, 98, 92, 88, 64,]
total = sum(scores)
average = total / len(scores)
print("合計点", total)
print("平均点", average)

合計点 412
平均点 82.4

In [2]:
def addup(n):
    a = 0
    for i in range(1, n + 1):
        a += i
    return a

print(addup(10))

55

In [3]:
def addup_other(n):
    a = (1 + n) * n / 2
    return int(a)

print(addup_other(10))

55

In [5]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, "x", j, "=", i * j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [18]:
for i in range(1, 10):
    k = ""
    for j in range(1, 10):
        k = k + "{} x {} = {:2d}  ".format(j, i, i * j)
    print(k)

1 x 1 =  1  2 x 1 =  2  3 x 1 =  3  4 x 1 =  4  5 x 1 =  5  6 x 1 =  6  7 x 1 =  7  8 x 1 =  8  9 x 1 =  9
1 x 2 =  2  2 x 2 =  4  3 x 2 =  6  4 x 2 =  8  5 x 2 = 10  6 x 2 = 12  7 x 2 = 14  8 x 2 = 16  9 x 2 = 18
1 x 3 =  3  2 x 3 =  6  3 x 3 =  9  4 x 3 = 12  5 x 3 = 15  6 x 3 = 18  7 x 3 = 21  8 x 3 = 24  9 x 3 = 27
1 x 4 =  4  2 x 4 =  8  3 x 4 = 12  4 x 4 = 16  5 x 4 = 20  6 x 4 = 24  7 x 4 = 28  8 x 4 = 32  9 x 4 = 36
1 x 5 =  5  2 x 5 = 10  3 x 5 = 15  4 x 5 = 20  5 x 5 = 25  6 x 5 = 30  7 x 5 = 35  8 x 5 = 40  9 x 5 = 45
1 x 6 =  6  2 x 6 = 12  3 x 6 = 18  4 x 6 = 24  5 x 6 = 30  6 x 6 = 36  7 x 6 = 42  8 x 6 = 48  9 x 6 = 54
1 x 7 =  7  2 x 7 = 14  3 x 7 = 21  4 x 7 = 28  5 x 7 = 35  6 x 7 = 42  7 x 7 = 49  8 x 7 = 56  9 x 7 = 63
1 x 8 =  8  2 x 8 = 16  3 x 8 = 24  4 x 8 = 32  5 x 8 = 40  6 x 8 = 48  7 x 8 = 56  8 x 8 = 64  9 x 8 = 72
1 x 9 =  9  2 x 9 = 18  3 x 9 = 27  4 x 9 = 36  5 x 9 = 45  6 x 9 = 54  7 x 9 = 63  8 x 9 = 72  9 x 9 = 81

In [21]:
for i in range(2, 101):
    h = i // 2
    f = True
    for j in range(2, h + 1):
        if i % j == 0:
            f = False
            break
    if f == True:
        print(i, end = ",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [22]:
a = 10
for i in range(9, 0, -1):
    a = a * i
print("10! =", a)

10! = 3628800

In [23]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n - 1)

for i in range(0, 21):
    print("{}! = {}".format(str(i), fact(i)))

0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800
11! = 39916800
12! = 479001600
13! = 6227020800
14! = 87178291200
15! = 1307674368000
16! = 20922789888000
17! = 355687428096000
18! = 6402373705728000
19! = 121645100408832000
20! = 2432902008176640000

In [25]:
total = 0
for i in range(5):
    if i == 4:
        total = total * 2
    else:
        total = total + i
print(total)

12

In [26]:
a = [10, -5, 0, 29, 6, 2, 77, 8]
for num in a:
    if num % 2 == 0:
        print("{}は偶数です".format(num))
    else:
        print("{}は奇数です".format(num))

10は偶数です
-5は奇数です
0は偶数です
29は奇数です
6は偶数です
2は偶数です
77は奇数です
8は偶数です

In [27]:
for n in range(1, 6):
    v1 = 3 ** n
    v2 = 2 ** n
    print("3の{}乗と2の{}乗の差は{}".format(n, n, v1 - v2))

3の1乗と2の1乗の差は1
3の2乗と2の2乗の差は5
3の3乗と2の3乗の差は19
3の4乗と2の4乗の差は65
3の5乗と2の5乗の差は211